@using CurrencyTrackerServer.ChangeTrackerService.Entities
@model IEnumerable<CurrencyTrackerServer.ChangeTrackerService.Entities.Change>
@{
    ViewData["Title"] = "Home Page";
}
<table id="currenciesTable" class="table table-hover">
    <tbody>
    @foreach (var c in @Model)
    {
        <tr>
            @if (c.Type == ChangeType.Currency)
            {
                <td><a href="@string.Concat("https://bittrex.com/Market/Index?MarketName=BTC-", @c.Currency)">@c.Currency</a></td>
                <td>@c.Percentage.ToString("F1")%</td>
            }
            else
            {
                <td colspan="2">@c.Message</td>
            }
            <td>@c.Time.ToString("T")</td>
        </tr>
    }
    </tbody>
</table>

<script language="javascript" type="text/javascript" src="js/websockets.js"></script>

<script src='https://code.responsivevoice.org/responsivevoice.js'></script>